PermitRootLogin no

HostKey /data/ssh/etc/ssh/ssh_host_rsa_key
HostKey /data/ssh/etc/ssh/ssh_host_dsa_key
HostKey /data/ssh/etc/ssh/ssh_host_ecdsa_key
HostKey /data/ssh/etc/ssh/ssh_host_ed25519_key

PasswordAuthentication no
PubkeyAuthentication yes

UsePAM yes
ChallengeResponseAuthentication no

AllowAgentForwarding no
AllowTcpForwarding yes
GatewayPorts yes
X11Forwarding no
PermitTTY no
PrintMotd no # pam does that
TCPKeepAlive yes
