PermitRootLogin no

HostKey /data/host_keys/etc/ssh/ssh_host_rsa_key
HostKey /data/host_keys/etc/ssh/ssh_host_dsa_key
HostKey /data/host_keys/etc/ssh/ssh_host_ecdsa_key
HostKey /data/host_keys/etc/ssh/ssh_host_ed25519_key

AuthorizedKeysFile /data/auth_keys/%U

PasswordAuthentication no
PubkeyAuthentication yes

UsePAM no
ChallengeResponseAuthentication no

AllowAgentForwarding no
AllowTcpForwarding yes
GatewayPorts yes
X11Forwarding no
PermitTTY no
PrintMotd no # pam does that
TCPKeepAlive yes
